/*
 * (c) Copyright 2025 Away Team Software (www.awayteam.co.uk)
 */

.video-wrapper {
    margin: auto;
    width: 672px;
}

.count-frame {
    display: inline-block;
}

.count {
    display: inline-block;
    width: 24px;
}

.colour-frame {
    display: inline-block;
}

.colour {
    display: inline-block;
    border-radius: 6px;
    width: 18px;
}

.cues-disabled {
    opacity: 0.4;
}

.jigsaw-frame {
    display: inline-block;
    height: 256px;
    width: 256px;
    border: 1px solid lightgray;
    position: relative;
    top: 0;
    left: 0;
}

.jigsaw-piece {
    height: 256px;
    width: 256px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.cross-wrapper {
    position: relative;
    top: 0;
    left: 0;
}

.cross-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.cross-frame {
    display: inline-block;
    height: 256px;
    width: 256px;
    border: 1px solid lightgray;
    position: relative;
    top: 0;
    left: 0;
}

.path-frame {
    display: inline-block;
    height: 256px;
    width: 128px;
    vertical-align: top;
}

.distance, .time, .speed, .average {
    width: 48px;
}
