/*
 * (c) Copyright 2025 Away Team Software (www.awayteam.co.uk)
 */

.video-wrapper {
    margin: auto;
    width: 672px;
}

.count-frame {
    display: inline-block;
}

.count {
    display: inline-block;
    width: 24px;
}

.colour-frame {
    display: inline-block;
}

.colour {
    display: inline-block;
    border-radius: 6px;
    width: 18px;
}

.cues-disabled {
    opacity: 0.4;
}
